body {
  background-image: url('/img/PuntoInicio/Urban.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  min-height: 100vh;
}

body {
  padding-top: 40px;
}

/* Navbar */
.custom-search input {
  border-radius: 50px;
  padding-left: 15px;
}

.custom-search button {
  border-radius: 50px;
  padding: 6px 12px;
}

.navbar .nav-link {
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #0dcaf0;
}

.dropdown-menu a:hover {
  background-color: #f8f9fa;
  color: #0d6efd;
}


/* card */
.detalle {
  display: none;
}
